*{
	margin: 0;
	padding: 0;
}

#root{
	height: 100%;
}

main{
	float: left;
	width: 61%;
	min-width: 60%;
}

.game_title{
	height: 25vh;
	min-height: 150px;
	text-align: right;
	float: left;
	width: 100%;
}


.game_title p{
	font-size: 80px;
	padding-top: 50px;
	padding-right:30px;
}


.main_section{
	height: 50vh;
	width: 100%;
	min-height: 400px;
	float: left;
}

.tales_container{
	position: relative;
	width: 350px;
	top: 50%;
	float: right;
	transform: translateY(-50%);
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 10px;
	padding-right: 50px;
}

.tales_container div{
	width: 100px;
	height: 100px;
	border: 3px solid black;
	font-size: 70px;
	font-weight: 500;
	text-align: center;
}

.output{
	height: 25vh;
	bottom: 100px;
	text-align: right;
	font-size: 50px;
	float: left;
	width: 100%;
}

.result{
	padding-right: 45px;
}

.refresh_icon{
	position: relative;
	height: 100vh;
	width: 39%;
	float: right;
}


img{
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100px;
}







@media (max-width: 1000px) {
	.game_title{
		text-align: center;
		height: 15%;
	}

	.game_title p{
		font-size: 3em;
		padding-right: 0;
	}

	.main_section{
		height: 40vh;
	}

	.tales_container{
		float:none;
		left: 50%;
		transform: translate(-50%, -50%);
		padding-right: 0;
	}

	.output{
		height: 20vh;
		text-align: center;
	}

	.refresh_icon{
		clear: both;
		height: 20vh;
		width: 100%;
	}

	.result{
		padding: 0;
	}

	main{
		width: 100%;
	}


}

@media (max-width: 480px){
	.game_title{
		height: 15vh;
		min-height: 0;
	}

	.game_title p{
		padding: 20px;
	}

	.output{
		min-height: 0;
		height: 10vh;
	}

	.result{
		font-size: 10vw;
		padding-top: 10px;
	}

	img{
		width: 50px;
	}

	.main_section{
		height: 30vh;
	}

	.refresh_icon{
		height: 15vh;
	}
}

